@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;575;600;650;700&display=swap');

body, .about-text, .audio, .writing {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    gap: 30px;
    padding: 30px;
    background: #F5F5F7;
    position: relative;
    align-items: center;
    padding-top: 108px;
    padding-bottom: 60px;
}

.about {
    background: #161617;
    padding: 0;
    padding-top: 0;
    gap: 10px;
    padding-bottom: 30px;
}

.writing {
    background-color: #EEEDED;
    padding: 120px;
    padding-top: 88px;
    gap: 30px;
    color: #221E1D;
}

.about-text {
    padding: 100px;
    padding-bottom: 50px;
    gap: 75px;
    color: white;
    background: #161617;
    max-width: 1680px;
}

hr {
    height: 1px;
    background: #424245;
    width: 100%;
    border: 0px;
    max-width: 1680px;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

h6 br, h1 br {
    display: none;
}

.quote br {
    display: initial;
}

h1, h2, h3, h4, h5, h6, strong, p {
    margin: 0;
    z-index: 1;
}

strong, p {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 700;
    letter-spacing: .011em;
}

p {
    font-weight: 400;
}

h1 {
    font-size: 110px;
    line-height: .9166666667;
    font-weight: 600;
    letter-spacing: -0.0166666667em;
    margin-bottom: 12px;
}

h2 {
    font-size: 80px;
    line-height: .9166666667;
    font-weight: 700;
    letter-spacing: 0em;
}

h3 {
    font-size: 72px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.022em;
}

h4 {
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 700;
    letter-spacing: .0055em;
}

h5 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.006em;
}

h6 {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: .004em;
}

nav, .dark-nav {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 4px;
    justify-content: center;
    align-self: center;
    position: fixed;
    top: 30px;
    padding: 4px;
    background-color: rgb(245, 245, 247, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    border-radius: 16px;
    z-index: 2;
    box-sizing: border-box;
}

.dark-nav {
    background-color: rgb(22, 22, 23, 0.8);
}

.link, .dark-link {
    display: flex;
    flex-direction: row;
    padding-inline: 12px;
    gap: 12px;
    padding-block: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: 
        background-color 0.3s ease-out,
            color 0.3s ease-out,
            fill 0.3s ease-out,
            stroke 0.3s ease-out;
    color: #86868B;
    fill:#86868B;
    stroke: #86868B;
}

.dark-link {
    color: #ffffff;
    fill:#ffffff;
    stroke: #ffffff;
}

.selected-b {
    background-color: rgba(255, 255, 255, 0.06);
}

.selected-w {
    background-color: rgba(0, 0, 0, 0.05);
}

.link p, .dark-link p {
    font-size: 17px;
}

.link:hover {
    color: #0066CC;
    fill:#0066CC;
    stroke: #0066CC;
}

.dark-link:hover {
    color: #2997ff;
    fill:#2997ff;
    stroke: #2997ff;
}

svg {
    fill:inherit;
    stroke: inherit;
    width: 24px;
    height: 24px;
}

.story, .hero, .design {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    height: 685px;
    color: black;
    width: 100%;
    max-width: 1680px;
    position: relative;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.story:hover, .design:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    gap: 6px;
}

button {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-inline: 22px;
    padding-block: 12px;
    background-color: white;
    color: #0066CC;
    gap: 8px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    align-items: center;
}

button p:hover {
    text-decoration: underline;
}

button p {
    font-size: 17px;
}

button svg {
    fill:#0066CC;
    width: 30px;
    height: 30px;
}


@media (max-width: 767px) {
    body {
        padding: 6.25vw;
        padding-top: calc(48px + 6.25vw);
        gap: 6.25vw;
    }

    br {
        display: initial;
    }

    h1, h2, h3 {
        font-size: 46px;
        line-height: .9230769231;
        font-weight: 700;
        letter-spacing: 0em;
    }

    strong, p {
        font-size: 19px;
        line-height: 1.23536;
        font-weight: 700;
        letter-spacing: -.011em;
    }

    p {
        font-weight: 400;
    }

    .story {
        height: 490px;
        padding: 24px;
        padding-inline: 20px;
        border-radius: 34px;
    }

    nav, .dark-nav {
        gap: 4px;
        top: 0;
        width: 100%;
        border-radius: 0;
        height: 45px;
        justify-content: space-between;
        padding-inline: 30px;
    }

    .link, .dark-link {
        flex-direction: column;
        gap: 0px;
        padding-inline: 12px;
        padding-block: 6px;
    }

    button {
        padding-block: 8px;
        padding-inline: 16px;
    }

    svg {
        display: none;
    }

    .selected-b, .selected-w {
        background: none;
    }
}

.design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 0;
    padding-inline: clamp(10px, 6.032171582vw, 94px);
}

.r-1, .r-2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1fr;
}

.feature {
    background: linear-gradient(180deg, #2B53AE 0%, #8194D2 100%);
    color: white;
}

.feature button, .feature button svg {
    background: none;
    color: white;
    fill: white;
}

.design section {
    height: 100%;
    justify-content: center;
    padding: clamp(10px, 4.021447721vw, 64px);
    min-width: 50%;
}

.design section:nth-child(2) {
    justify-content: flex-end;
    padding: 0;
}

.design button {
    gap: 3px;
}

.design button p {
    font-size: 19px;
}

.design button svg {
    width: 11px;
    height: 11px;
    margin-top: 2px;
}

.design img {
    width: clamp(775px, 56.63538874vw, 849px);
}

.r-1 section, .r-2 section {
    padding-bottom: 30px;
}

.r-1 section:nth-child(2) {
    justify-content: flex-start;
}

.callout {
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-inline: 30px;
    padding-top: 60px;
    max-width: 1680px;
}

@media (max-width: 767px) {
    .design {
        grid-template-columns: 1fr;
        height: 490px;
        padding: 24px;
        padding-inline: 0px;
        border-radius: 34px;
    }

    .design img {
        margin-top: -2px;
        width: 135%;
        min-height: 356.59px; 
    }

    .r-1 img {
        width: 100%;
        margin-top: 60px;
    }

    .r-2 img {
        width: 175%;
    }

    .design svg {
        display:initial;
    }

    .callout {
        padding-top: 48px;
        padding-inline: 6.25vw;
    }

}

.four-columns {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(250px, 1fr));
    gap: 75px;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
}

.three-columns a {
    gap: 12px;
    align-items: flex-start;
}

.four-columns p, .three-columns a p {
    color:#86868B;
    font-weight: 700;
}

span {
    color:#ffffff;
}

.writing span {
    color: rgb(34, 30, 29, 0.53);
}

.three-columns a p {
    font-size: 19px;
    line-height: 1.2105263158;
    font-weight: 400;
    letter-spacing: .012em;
}

.three-columns {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    box-sizing: border-box;
    row-gap: 16px;
    column-gap: 16px;
    text-align: left;
    width: 100%;
}

.three-columns a {
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: white;
    border-radius: 16px;
    box-sizing: border-box;
    gap: 4px;
    transition: background-color 0.3s ease-out;
}

.three-columns a:hover {
    background-color: #232326;
}

.quote {
    gap: 50px;
    color:#86868B;
    text-align: center;
}

.quote h6 {
    color:#ffffff;
}

.hero {
    border-radius: 0;
    align-items: flex-start;
    text-align: flex-start;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.reverse {
    align-items: flex-end;
}

.hero .section, .hero p {
    gap: 0;
    opacity: 0.53;
    color: rgb(255, 255, 255);
}

.black, .black p {
    color: rgb(0, 0, 0);
}

.paglia {
    background-image: url(Im/paglia-1.webp);
}

.immersive-photo-back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100vw;
    height: 785px;
    justify-self: center;
    box-sizing: border-box;
    position: relative;
    padding-inline: 100px;
    max-width: 1680px;
}

.immersive-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #161617 0%, rgba(22, 22, 23, 0.70) 20%, rgba(22, 22, 23, 0.10) 40%, rgba(22, 22, 23, 0.10) 60%, rgba(22, 22, 23, 0.70) 80%, #161617 100%)
}

.immersive-photo-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    animation: immersivePhoto 1.5s ease-in-out none;
}

.immersive-photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 785px;
    position: absolute;
    left: -100px;
    z-index: 1;
    max-width: 1680px;
}

@keyframes immersivePhoto {
    0% {
        scale: 0.95;
    }
    25% {
        scale: 1.01;
    }
    50% {
        scale: 0.999;
    }
    75% {
        scale: 1.001;
    }
    100% {
        scale: 1;
    }
}

.link-away {
    align-items: flex-start;
    justify-content: flex-start;
    color:#86868B;
    width: 100%;
    gap: 15px;
    max-width: 1680px;
}

@media (max-width: 767px) {

    .about-text, .writing {
        padding: 6.25vw;
        padding-top: calc(48px + 6.25vw);
        gap: 12.5vw;
    }

    h4 {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 700;
        letter-spacing: .004em;
    }

    h5 {
        font-size: 28px;
        line-height: 1.1428571429;
        font-weight: 700;
        letter-spacing: .007em;
    }

    .black, .black p {
        color: rgb(255, 255, 255);
    }
    
    .paglia {
        background-image: url(Im/paglia-2.webp);
    }

    .hero {
        justify-content: flex-end;
        align-items: center;
        height: 531px;
    }

    .back-gradient {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    }

    .four-columns, .three-columns {
        display: flex;
        flex-direction: column;
        gap: 42px;
    }

    .four-columns section p {
        font-size: 19px;
    }

    .three-columns a {
        gap: 0px;
        border-radius: 0;
        padding:0;
    }

    .three-columns {
        gap: 16px;
        background-color: #1D1D1F;
        padding: 16px;
        padding-block: 18px;
        border-radius: 16px;
    }

    .writing .three-columns {
        background-color: rgb(0, 0, 0, 0.05);
    }

    .link-away {
        gap: 16px;
    }

    .immersive-photo-back {
        height: 331px;
        padding-inline: 5.25vw;
    }

    .immersive-photo {
        height: 331px;
        left: -6.25%;
    }

    .immersive-photo-holder {
        border-radius: 16px;
    }
}

.audio {
    background: #161617;
    color:#86868B;
    padding: 60px;
    padding-top: 138px;
    gap: 60px;
}

.audio section {
    gap: 30px;
}

.four-discs, .five-discs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    animation: discAnimation 1s ease-in-out none;
}

.five-discs {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.disc {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    width: clamp(246px, 16.75603217vw, 254px);
    height: clamp(246px, 16.75603217vw, 254px);
    box-shadow: inset 0px 1px 1.4px rgba(255, 255, 255, 0.4), inset 0px -1px 1.4px rgba(255, 255, 255, 0.1);
    background-color:#1D1D1F;
    border-radius: 100%;
    animation: spin 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1;
    transition: transform 0.3s ease;
}

.disc:hover {
    transform: scale(1.03);
}

.ring, .emphasize, .e-ring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 16px;
    width: 100%;
    height: 100%;
    border: 3px rgb(255, 255, 255, 0.21) solid;
    border-radius: 100%;
    color: white;
}

.e-ring {
    padding:10px;
}

.emphasize {
    padding: clamp(12px, 1.072386059vw, 20px);
    border: 3px rgb(255, 255, 255, 0.53) solid;
    border-radius: 100%;
}

.disc strong {
    line-height: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes discAnimation {
    0% {
      opacity: 0;
      transform: translateY(+250px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

.hide-mobile {
    display: flex;
}

.hide-desktop {
    display: none;
}

@media (max-width: 767px) {
    .audio {
        padding: 6.25vw;
        padding-top: calc(48px + 6.25vw);
        gap: 12vw;
    }

    .audio section {
        gap: 3.125vw;
    }

    .four-discs, .five-discs {
        grid-template-columns: 1fr 1fr;
        column-gap: 3.125vw;
    }

    .disc {
        padding: 16px;
        width: clamp(168px, 43.25699746vw, 172px);
        height: clamp(168px, 43.25699746vw, 172px);
    }

    .hide-mobile {
        display: none;
    }

    .hide-desktop {
        display: initial;
    }
}

.writing section {
    margin-bottom: 10px;
}

.writing section p {
    color: #726F6F;
}

.two-details p {
    color: #838287;
}

.writing .three-columns a:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.writing hr {
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.writing .link-away .three-columns hr {
    margin-bottom: 0px;
}

.writing strong {
    color: #221E1D;
}

.gray {
    background: linear-gradient(180deg, #eeeced 0%, rgba(238, 236, 237, 0.70) 20%, rgba(238, 236, 237, 0.10) 40%, rgba(238, 236, 237, 0.10) 60%, rgba(238, 236, 237, 0.7) 80%, #eeeced 100%)
}

.gray-nav {
    background-color: rgb(238, 237, 237, 0.8);
}

.two-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1680px;
}

.writing-text {
    columns: 250px 4;
    column-gap: 21px;
    margin-bottom: 30px;
    max-width: 1680px;
}

.writing-text p {
    margin-bottom: 1em;
    font-size: 22px;
    line-height: 1.47059;
    font-weight: 400;
}

.two-details p:nth-child(2) {
    text-align: right;
}

.principles {
    text-align: left;
    align-items: flex-start;
    padding-bottom: 30px;
    width: 100%;
}

.principles .four-columns {
    row-gap: 30px;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 100%;
}

.ideal {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ideal p {
    font-size: 22px;
    font-weight: 400;
}

.ideal strong {
    font-weight: 600;
    font-size: 22px;
}

@media (max-width: 767px) {
    .writing {
        gap: 6.25vw;
    }

    .writing-text p, .ideal p, .ideal strong {
        font-size: 19px;
    }

    .ideal strong {
        font-weight: 700;
    }

    .writing .three-columns a p {
        font-size: 17px;
    }

    .principles {
        padding-bottom: 0px;
    }

    .principles h6 {
        font-size: 25px;
    }

    .principles hr {
        margin-bottom: 10px;
    }

    .writing h5 {
        align-self: flex-start;
        font-size: 32px;
    }
}